<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/first.css">
</head>
<body>
<form method="POST">
<div class="home">
        <div class="content">
            <div class="stars"></div>
            <img class="bgc" src="/static/images/class1.png" width="100%" alt="">
            <h3 class="title">欢 迎 来 到 课 堂 小 助 手!</h3>
            <img class="icon" src="/static/images/01.jpg" alt="">
            <div class='ribbon'>
                <a href='/'><span>Home</span></a>
                <a href='/'><span>About</span></a>
                <a href='/login'><span>Login</span></a>
            </div>

        </div>
        <div class="icons">
            <div class="icons_items">
                <img class="icons_items_imgs" src="/static/images/01.png" alt="">
                <span>数字系统综合设计</span>
            </div>
            <div class="icons_items">
                <img class="icons_items_imgs" src="/static/images/02.png" alt="">
                <span>软件工程</span>
            </div>
            <div class="icons_items">
                <img class="icons_items_imgs" src="/static/images/03.png" alt="">
                <span>网络工程</span>
            </div>
            <div class="icons_items">
                <img class="icons_items_imgs" src="/static/images/04.png" alt="">
                <span>大数据概论</span>
            </div>
        </div>
        <div class="introduce">
            <div class="introduce_item">
                <img class="introduce_item_img" src="/static/images/05.png" alt="">
                <span class="introduce_item_title">操作系统是计算机系统中的核心软件，负责管理硬件资源和协调用户程序运行。课程内容包括操作系统原理、进程管理、内存管理、文件系统和输入输出管理等方面。通过学习操作系统课程，学生将了解操作系统的设计原理、工作机制和实现技术，提高在计算机系统中的应用能力和创新能力。</span>

            </div>
            <div class="introduce_item">

                <span class="introduce_item_titles">C++是一种通用编程语言，兼具过程化、数据抽象、面向对象和泛型编程等多种风格。C++在计算机科学和软件开发领域具有重要地位，可用于编写高效、可靠的大型软件系统。通过学习 C++课程，学生将掌握语言基本语法、数据结构、算法、面向对象编程等技能，为后续专业发展奠定基础。</span>
                <img class="introduce_item_img" src="/static/images/06.png" alt="">
            </div>
            <div class="introduce_item">
                <img class="introduce_item_img" src="/static/images/07.png" alt="">
                <span class="introduce_item_title">数理逻辑是数学的一个分支，其研究对象是对证明和计算这两个直观概念进行符号化以后的形式系统。数理逻辑是数学基础的一个不可缺少的组成部分。主要的子研究领域有模型论，证明论，集合论和可计算性理论。</span>
            </div>
            <div class="introduce_item">
                <span class="introduce_item_titles">体育课程是学生以身体练习为主要手段，通过合理的体育教育和科学的体育锻炼过程，达到增强体质、增进健康和提高体育素养为主要目标的公共必修课程；是学校课程体系的重要组成部分；是学校体育工作的中心环节。是我国实现素质教育和促进学生适应社会、培养学生完整个性的有效途径。</span>
                <img class="introduce_item_img" src="/static/images/08.png" alt="">
            </div>
        </div>
{#        <audio autoplay="autoplay" id="audio" loop="loop">#}
{#                <source src="./video/music.mp3" type="audio/MP3">#}
{##}
{#        </audio>#}
        <img class="music_img" src="/static/images/2.jpg" alt="">
    </div>
</form>
</body>
</html>