<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <link rel="stylesheet" type="text/css" href="/static/css/my1.css">
    <script type="text/javascript" src="/static/js/my1.js" defer></script>
</head>
<body>
    <!-- 导航栏主体 -->
    <div class="left-menu">
        <!-- 顶部标题 -->
        <div>欢迎您！</div>
        <!-- 链接 -->
        <div class="menu-item-hasChild menu-item">
            <p>课程管理</p>
            <span class="icon">&gt;</span>
        </div>
        <div class="menu-first-items">
            <ul>
                <li>
                    <div class="li-text li-underline">我教的课</div>
                </li>
                <li>
                    <div class="li-text li-underline">新设课程</div>
                </li>
            </ul>
        </div>

        <div class="menu-no-child menu-item">我的学生</div>
        <div class="menu-no-child menu-item">签到管理</div>

        <div class="menu-item-hasChild menu-item">
            <p>作业管理</p>
            <span class="icon">></span>
        </div>
        <div class="menu-first-items">
            <ul>
                <li>
                    <div class="li-text li-underline">发布作业</div>
                </li>
                <li>
                    <div class="li-text li-underline">完成情况</div>
                </li>
            </ul>
        </div>

        <div class="menu-item-hasChild menu-item">
            <p>互动</p>
            <span class="icon">></span>
        </div>
        <div class="menu-first-items">
            <ul>
                <li>
                    <div class="li-text li-underline">随机点名</div>
                </li>
                <li>
                    <div class="li-text li-underline">讨论区</div>
                </li>
            </ul>
        </div>

        <div class="menu-no-child menu-item">资料管理</div>
        <div class="menu-no-child menu-item">个人资料</div>
    </div>
</body>
</html>



